# Ignore virtual environment directory
venv/

# Ignore .env files
.env

# Ignore other common files and directories
node_modules/
package-lock.json
.pycache/
__pycache__/

# Ignore IDE-specific files
.vscode/